/*---------------galeria---------------------*/

.galeria {
    padding: 0;

    .res {
        @extend %grid;
        padding-top: 40px;
        padding-bottom: 50px;

        .res_a {
            grid-column: 2 span;
        }

        .res_e {
            grid-row: 2 span;
        }
    }

    .pollo {
        @extend %grid;
        padding-top: 40px;
        padding-bottom: 50px;

        .pollo_d {
            grid-column: 2 span;
        }

        .pollo_c {
            grid-row: 2 span;
        }
    }

    .porcina {
        @extend %grid;
        padding-top: 40px;
        padding-bottom: 50px;

        .porcina_g {
            grid-column: 2 span;
        }

        .porcina_a {
            grid-row: 2 span;
        }
    }

    .pescado {
        @extend %grid;
        padding-top: 40px;

        .pescado_f {
            grid-column: 2 span;
        }

        .pescado_b {
            grid-row: 2 span;
        }
    }

    .galeria_img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.1, 1.1);
        }
    }
}