/*---------------variables---------------------*/

$primary-color: #ff9800;
$secundary-color: #ffc340;
$font-color: white;

/*---------------reseteo_codigo---------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

/*---------------globales---------------------*/
a {
    font-size: 2em;
    color: #000;
    text-decoration: none;
}

h1 {
    color: $font-color;
    text-transform: capitalize;
    padding-left: 0.5em;
}

h2 {
    color: $font-color;
    text-transform: capitalize;
}

h3{
   color: $font-color;
   text-transform: uppercase;
}

h4{
    color: #000;
    margin-bottom: 0;
    padding: 0.6em;
    text-transform: capitalize;
}
p {
    color: $font-color;
    text-transform: capitalize;
}

label{
    color: $font-color;
}

main{
    background-color: black;
}
/*---------------mapas---------------------*/

$display: (display: flex,flex-wrap: wrap,);

/*---------------extend---------------------*/

%grid {
    display: grid;
    grid-gap: 1.2em;
    grid-auto-rows: 12.5em;
    grid-template-columns: 1fr 1fr 1fr;
}


/*---------------mixin---------------------*/

@mixin flex ($display, $horizontal, $line, $direction, $padding) {
    display: $display;
    justify-content: $horizontal;
    flex-wrap: $line;
    flex-direction: $direction;
    padding: $padding;
}