/*----------------mediaQuerys-------------------*/

@media screen and (max-width:501px) {

   
    .pollo {
        grid-template-columns: 100%;
    }

    .porcina {
        grid-template-columns: 100%;
    }

    .pescado {
        grid-template-columns: 100%;
    }

    .img_footer {
        width: 90%;
    }

    .img_footer_redes {
        width: 1.7em;
        height: 1.7em;
    }

    .header_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo_img {
        width: 3.3em !important;
        padding: 0.3em 0 0 0 !important;
    }
    

    .search input[type=text] {
        width: 12.5em;
        text-align: center;
    }

    .header_nav_search {
        justify-content: center;

    }
    .navbar-toggler{
        padding: .05rem .05rem ;
        font-size: 0.90rem; 
    }
    
    
    .contacto_form {
        padding: 0 !important;
        width: 100%;
        height: 100%;
    }

    .ubicacion {
        padding: 0 !important;
    }

    .main_productos {
        .container {
        width: 90% !important;
        }
    }
    
   
    

    .img_oferta {
        width: 100% !important;
        height: 40% !important;
    }

    .galeria {
        padding: 0 0 0 0;
    }

    h1 {
        padding-left: 0;
    }
}

    




@media screen and (max-width:1000px) {
    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        justify-content: center;
        padding-left: 0px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        justify-content: center;
        padding-left: 0px;
    }

    .pago {
        justify-content: space-around;
        width: 100%;
        justify-content: center;
    }

    a {
        font-size: 1.6em;
    }

    





}