/*----------------ofertas-----------------*/

.ofertas_row {
    @include flex(flex, space-evenly, wrap, row, 3em);

    .ofertas_col {
        padding: 1.3em;
        text-align: center;

        &:hover {
            box-shadow: 0.13em 0.13em 0.3em 0.06em $primary-color;
        }

        .img_oferta {
            width: 18.7em;
            height: 18.7em;
            padding-bottom: 0.6em;
            transition: all 0.1s linear;
        }
    }
}




.filtrar {
    text-align: left;
    padding: 1.3em;
    background-color: $secundary-color;

}