/*-----------------ubicacion-------------------*/

.ubicacion {
    text-align: center;
    padding: 4.37em 4.37em 4.37em 4.37em;

    .ubicacion_map {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
    }
}

.ubicacion_video {
    padding: 3em 0.6em 4.37em 0.6em;
    text-align: center;
    background-color: $secundary-color;
}